:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #333;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#utilityHead {
  color: #e0876a;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #a881af;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* TextUtility.css */

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: center; /* Center content horizontally */
  background-color: #f0f8ff; /* Light blue background color */
  transition: background-color 0.3s ease;
}

.dark-mode {
  background-color: #333; /* Dark mode background color */
  color: #fff; /* Text color in dark mode */
}

.controls {
  margin-top: 10px;
}

textarea {
  width: 80%;
  min-height: 200px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 2px solid #1e90ff; /* Border color */
  border-radius: 8px; /* Border radius */
}

button {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #80669d; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a881af; /* Button background color on hover */
}

span {
  color: #9fd3c7; /* Word count color */
}

/* App.css */

/* Styles for the App component */
.App {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column;
}

/* Styles for the ImageTextExtractor component */
.ImageTextExtractor {
  width: 50%; /* Set the width of the ImageTextExtractor component */
  align-self: center; /* Center horizontally */
}

/* Additional Styles */

/* Center all 


/* App.css */

.inputField {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 250px; /* Adjust width as needed */
}

.inputField:focus {
  outline: none;
  border-color: #007bff; /* Change border color on focus */
}

.searchBox {
  display: flex;
  align-items: center;
}

.searchBox button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 100px;
  padding: 10px;
  margin-left: 10px; /* Add space between input field and button */
  cursor: pointer;
}

.searchBox button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

